# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# VS Code settings
.vscode/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Environment variables
.env
SBERT/.hf_token

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python egg files
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/
pip-wheel-metadata/
*.manifest
*.spec

# PyInstaller
*.spec

# Test and coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Streamlit static and cache
.streamlit/
static/
data/
.cache_material_index/


# Node.js (falls JS-Viewer)
node_modules/
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# IFC/Export/Resultate
IFC-Modelle/Resultate_UBP_Berechnung/
IFC-Modelle/AFRY/

# SBERT-Models
models/

Evaluation/azure
Evaluation/exports/azure_logs